body, html {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;/* Smooth scrolling */
    overflow: hidden;  
}



#loginForm {
    border: 4px solid #6B4226;
    padding: 20px;
    width: 300px; /* Form width */
    height: 400px;
    background-color: #71BD9A; /* Background of the form */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 10px #6B4226;
    z-index: 5; 
    align-items: center;
    position: relative;
}

#loginForm input[type="text"], #loginForm input[type="password"] {
    width: calc(100% - 18px); /* Full width of form */
    border-radius: 5px;
    border: 4px solid #6B4226;
    background-color: #f2e5d7;
}

#loginForm input[type="submit"] {
    width: 35%;
    border-radius: 5px;
    border: 4px solid #6b506f;
    background-color: #7e6188;
    box-shadow: 0px 4px 10px black;
    float: right; /* float right of form */
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-family: 'Alfa Slab One';
    font-size: 17px;
    cursor: pointer;
}

#loginForm input[type="submit"]:hover {
    background-color: #6b506f; /* Darker green on hover */
    box-shadow: inset 0px 3px 8px #6b506f;
}

#loginForm label {
    font-family: 'Alfa Slab One';
    font-size: 18px;
    color: #e9e4d8;
    text-shadow: -1.5px -1.5px 0 #6B4226, 1.5px -1.5px 0 #6B4226, -1.5px 1.5px 0 #6B4226, 1.5px 1.5px 0 #6B4226; /* Black outline */
 } 

#logo {
    display: block;
    margin-bottom: 20px;
    margin-left: 25px;
    width: 250px;
    height: auto; 
}

#login-screen {
    display: none;
    position: fixed;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    justify-content: center; /* Horizontal center */
    align-items: center; /* Vertical center */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  
}

#login-screen:target{
    display: flex;
}

.close-button {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none; /* remove underline on x */
    line-height: 17px;
    box-shadow: 0px 1px 4px black;
    border: 2px solid darkred;
}

.close-button:hover {
    background-color: darkred;
    box-shadow: inset 0px 1px 4px darkred;
}

#update-delete-screen {
    display: none;
    position: fixed;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    justify-content: center; /* Horizontal center */
    align-items: center; /* Vertical center */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

#update-delete-screen:target{
    display: flex;
}

#updateScreen {
    border: 4px solid #6B4226;
    padding: 20px;
    width: 80vw; /* Form width */
    height: 80vw;
    max-width: 600px;
    max-height: 700px;
    background-color: #71BD9A; /* Background of the form */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 10px #6B4226;
    z-index: 5; 
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto; /*scrollbars if overflow of content like image size */
}

/* using  https://www.scale.at/blog/responsive-form-layout-css-grid for css grid inspo */
.updateForm {
    display: grid;
    gap: 8px;
    line-height: 1.3;
    margin-top: 25px;
}

.updateForm input[type="text"] {
    border: 4px solid #6B4226;
    background-color: #f2e5d7;
    border-radius: 5px;
    font-size: 15px;
}

@media screen and (min-width: 800px) {
    .updateForm {
        grid-template-columns: 1fr 2fr;
        gap: 24px;
    }
    
}

.tagsContainer {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    border: 4px solid #6B4226;
    background-color: #f2e5d7;
    border-radius: 5px;
}

.updateForm fieldset {
    grid-column: 1 / -1;
}


.buttonContainer, .uploadContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    grid-column: 1/-1;
}

.buttonContainer input[type="submit"] {
    width: 100%; 
    border: 2px solid #6b506f;
    background-color: #7e6188;
    box-shadow: 0px 4px 10px black;
    font-size: 15px;
    border-radius: 5px;
    border: 4px solid #6b506f;
    background-color: #7e6188;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
}

.buttonContainer input[type="submit"]:hover {
    background-color: #6b506f; /* Darker green on hover */
    box-shadow: inset 2px 2px 2px #6b506f;
    font-weight: bold;
    color: #f2e5d7;
    font-size: 18px;
}

#uploadButton {
    grid-column: 3;
    justify-self: end;
    align-self: center; 
    width: 80%;
}

#updateIMG {
    width: 200px;
    height: 300px;
    vertical-align: middle;
    grid-column: 2;
    margin-top: 25px;
    border: 4px solid #6B4226;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

.imageContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .imageContainer {
        grid-template-columns: 1fr;
    }  
}

.updateForm, .tagsContainer, .buttonContainer {
    font-family: 'Open Sans', sans-serif;
}

input[type="checkbox"] {
    appearance: none;
    width: 15px; 
    height: 15px;
    background-color: white;
    border: 2px solid #6B4226;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color:#6B4226 ;
    box-shadow: inset 2px 2px 2px #6B4226;
}

#subtags {
    appearance: none;
    background-color: white;
    border: 3px solid #6B4226;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-align-last: center;
}



#main-screen {
    display: none;
    position: fixed;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding-bottom: 60px; /* Platz für den Footer schaffen */
}

#main-screen:target {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f2e5d7; /* Main background */
    padding: 20px;
    overflow: auto;
}

#main-screen header {
    margin-top: 0; /* Abstand nach oben entfernen */
    padding: 20px; /* Optional: Padding hinzufügen, wenn gewünscht */
    text-align: center; /* Zentriere den Text */
}

#main-screen header h2 {
    color: #6B4226;
    font-family:  sans-serif;
    margin-bottom: 10px;
    font-weight: 1500; /* Super dünn */
    font-size: 20px; /* Schriftgröße anpassen, falls nötig */
    text-shadow: none; /* Textschatten entfernen */
    
}

#main-screen header h1, #main-screen header h3 {
    color: #6B4226;
    font-family: 'Alfa Slab One', sans-serif;
    margin-bottom: 10px;
    font-weight: 100; /* Super dünn */
    font-size: 50px; /* Schriftgröße anpassen, falls nötig */
    text-shadow: none; /* Textschatten entfernen */
}


#main-screen footer {
    margin-top: 20px; /* Abstand oben hinzufügen */
    position: absolute; /* Absolute Positionierung für den Footer */
    bottom: 20px; /* Abstand vom unteren Rand */
    left: 0;
    right: 0; /* Footer zentriert */
    text-align: center; /* Text zentrieren */
    font-family: 'Open Sans', sans-serif; /* Schriftart für den Footer */
    font-size: 14px; /* Schriftgröße für den Footer */
    color: #333; /* Schriftfarbe für den Footer */
}

#location-list {
    width: 90%; /* Erhöhte Breite */
    max-width: 600px; /* Maximalbreite anpassen, um mehr Platz zu bieten */
    background-color: #71BD9A; /* Hintergrundfarbe für die Liste */
    padding: 40px; /* Erhöhtes Padding für mehr Innenabstand */
    border-radius: 10px; /* Runde Ecken */
    box-shadow: 0px 4px 10px #6B4226; /* Schatteneffekt */
    margin: 20px; /* Liste zentrieren */
}


#location-list h3 {
    color: #6B4226;
    font-family: 'Alfa Slab One', sans-serif;
    margin-bottom: 10px;
    font-weight: 100; /* Super dünn */
    font-size: 24px; /* Schriftgröße anpassen, falls nötig */
    text-shadow: none; /* Textschatten entfernen */
}

#location-list ul {
    list-style-type: none; /* Remove default list style */
    padding: 0; /* Remove padding */
}

#location-list button {
    background-color: #7e6188; /* Button background color */
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 4px solid #6B4226; /* Button border color */
    color: white; /* Button text color */
    box-shadow: 2px 2px 2px #6B4226; /* Button shadow */
    font-family: 'Open Sans', sans-serif; /* Font for buttons */
    font-size: 18px; /* Font size for buttons */
    text-align: center; /* Center text */
    cursor: pointer; /* Pointer cursor on hover */
    text-transform: uppercase; /* Uppercase text */
    width: 100%; /* Full width of container */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}

#location-list button:hover {
    background-color: #6b506f; /* Darker on hover */
    box-shadow: inset 2px 2px 2px #6b506f; /* Inner shadow on hover */
    color: #f2e5d7; /* Change text color on hover */
}

.button-container-main {
    display: flex;
    justify-content: center; /* Zentriert die Buttons */
    gap: 10px; /* Abstand zwischen den Buttons */
    margin-top: 20px; /* Abstand nach oben */
    padding: 10px 0; /* Padding für mehr Platz */
}


.button-container-main .button {
    padding: 10px 20px;
    background-color: #7e6188; /* Button background color */
    color: white; /* Button text color */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* No underline */
    font-size: 16px; /* Font size for main buttons */
    font-family: 'Alfa Slab One'; /* Font for buttons */
    border: 4px solid #6b506f; /* Button border color */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}

.button-container-main .button:hover {
    background-color: #6b506f; /* Darker on hover */
    box-shadow: inset 2px 2px 2px #6b506f; /* Inner shadow on hover */
    color: #f2e5d7; /* Change text color on hover */
}

footer {
    background-color: #71BD9A; /* Footer Hintergrundfarbe */
    color: white; /* Schriftfarbe */
    display: flex; /* Flexbox aktivieren */
    justify-content: center; /* Buttons in der Mitte ausrichten */
    padding: 30px; /* Padding für den Footer */
    font-size: 18px; /* Schriftgröße im Footer */
    margin-top: auto; /* Footer nach unten schieben */
}





footer a {
    color: #6B4226; /* Footer link color */
    text-decoration: none; /* No underline */
}

footer a:hover {
    text-decoration: underline; /* Underline on hover */
}

#welcome-title {
    background-color: #71BD9A; /* Grüner Hintergrund */
    border: 4px solid #6B4226; /* Braune Umrandung */
    border-radius: 5px; /* Abgerundete Ecken */
    padding: 1px 15px; /* Innenabstand für eine kleinere Box */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Leichter Schatteneffekt */
    margin: 20px auto; /* Abstand oben erhöhen und zentrieren */
    width: fit-content; /* Größe an den Inhalt anpassen */
    text-align: center; /* Zentrierter Text */
}

