body, html {
    background-color: #606c38;
    margin: 0;
    padding: 0;
    height: 100%;
}

section {
    width: 100vw; /* all width of viewport */
    height: 100vh; /* all the viewport height */
    display: flex; /* Flexbox to center content */
    flex-direction: column;
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
    box-sizing: border-box;
    position: relative; /* make sure everything stays in position */
}

#loginForm {
    border: 4px solid #6B4226;
    padding: 20px;
    width: 300px; /* Form width */
    background-color: #d4b483; /* Background of the form */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 10px #6B4226;
    z-index: 2; /* had to move it to front since it messed up the page slightly*/
}

#loginForm input[type="text"], #loginForm input[type="password"] {
    width: calc(100% - 18px); /* Full width of form */
    border-radius: 5px;
    border: 4px solid #6B4226;
    background-color: #f2e5d7;
}

#loginForm input[type="submit"] {
    width: 35%;
    border-radius: 5px;
    border: 4px solid #A0522D;
    background-color: #D2691E;
    box-shadow: 0px 4px 10px black;
    float: right; /* float right of form */
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-family: 'Alfa Slab One';
    font-size: 17px;
}

#loginForm input[type="submit"]:hover {
    background-color: #A0522D; /* Darker green on hover */
    box-shadow: inset 0px 3px 8px #A0522D;
}

#loginForm label {
    font-family: 'Alfa Slab One';
    font-size: 18px;
    color: #e9e4d8;
    text-shadow: -1.5px -1.5px 0 #6B4226, 1.5px -1.5px 0 #6B4226, -1.5px 1.5px 0 #6B4226, 1.5px 1.5px 0 #6B4226; /* Black outline */
 } 

#logo {
    margin-left: -15px;
}

#updateScreen {
    border: 4px solid #6B4226;
    background-color: #d4b483;
    width: 80vw;
    height: 80vh;
}

