body, html {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;  /* Smooth scrolling */
}

#main-screen {
    height: 100vh; /* 100% of the viewport height */
    width: 100vw;
    display: flex; /* Flexbox to center content */
    flex-direction: column;
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}


#loginForm {
    border: 4px solid #6B4226;
    padding: 20px;
    width: 300px; /* Form width */
    height: 380px;
    background-color: #71BD9A; /* Background of the form */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 10px #6B4226;
    z-index: 3; 
    align-items: center;
}

#loginForm input[type="text"], #loginForm input[type="password"] {
    width: calc(100% - 18px); /* Full width of form */
    border-radius: 5px;
    border: 4px solid #6B4226;
    background-color: #f2e5d7;
}

#loginForm input[type="submit"] {
    width: 35%;
    border-radius: 5px;
    border: 4px solid #6b506f;
    background-color: #7e6188;
    box-shadow: 0px 4px 10px black;
    float: right; /* float right of form */
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-family: 'Alfa Slab One';
    font-size: 17px;
}

#loginForm input[type="submit"]:hover {
    background-color: #6b506f; /* Darker green on hover */
    box-shadow: inset 0px 3px 8px #6b506f;
}

#loginForm label {
    font-family: 'Alfa Slab One';
    font-size: 18px;
    color: #e9e4d8;
    text-shadow: -1.5px -1.5px 0 #6B4226, 1.5px -1.5px 0 #6B4226, -1.5px 1.5px 0 #6B4226, 1.5px 1.5px 0 #6B4226; /* Black outline */
 } 

#logo {
    display: block;
    margin-bottom: 20px;
    margin-left: 25px;
    width: 250px;
    height: auto; 
}

