body, html {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;/* Smooth scrolling */
    overflow: hidden;  
}

/* Login Screen */
#login-screen {
    display: none;
    position: fixed;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    justify-content: center; /* Horizontal center */
    align-items: center; /* Vertical center */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

#loginForm {
    border: 4px solid #6B4226;
    padding: 20px;
    width: 300px; 
    height: 400px;
    background-color: #71BD9A;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #6B4226;
    z-index: 5; 
    align-items: center;
    position: relative;
}

#logo {
    display: block;
    margin-bottom: 20px;
    margin-left: 25px;
    width: 250px;
    height: auto; 
}

#loginForm input[type="text"], #loginForm input[type="password"] {
    width: calc(100% - 18px); /* Full width of form */
    border: 4px solid #6B4226;
    background-color: #f2e5d7;
    border-radius: 5px;
    font-size: 15px;
}

#loginForm input[type="submit"] {
    width: 35%;
    border-radius: 5px;
    border: 4px solid #6b506f;
    background-color: #7e6188;
    box-shadow: 0px 4px 10px black;
    float: right; /* Float right side of form */
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    cursor: pointer;
    
}

#loginForm input[type="submit"]:hover {
    background-color: #6b506f; 
    box-shadow: inset 0px 3px 8px #6b506f;
}

#loginForm label {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #e9e4d8;
    text-shadow: -1.5px -1.5px 0 #6B4226, 1.5px -1.5px 0 #6B4226, -1.5px 1.5px 0 #6B4226, 1.5px 1.5px 0 #6B4226; /* Black outline */
 } 

#logo {
    display: block;
    margin-bottom: 20px;
    margin-left: 25px;
    width: 250px;
    height: auto; 
}

#login-screen {
    display: none;
    position: fixed;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    justify-content: center; /* Horizontal center */
    align-items: center; /* Vertical center */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  
}

#login-screen:target{
    display: flex;
}

/* Update and Delete Screen Style */
#update-delete-screen {
    display: none;
    position: fixed;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    justify-content: center; /* Horizontal center */
    align-items: center; /* Vertical center */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

#update-delete-screen:target{
    display: flex;
}

#updateScreen {
    border: 4px solid #6B4226;
    padding: 20px;
    width: 80vw; 
    height: 80vw;
    max-width: 600px;
    max-height: 700px;
    background-color: #71BD9A;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #6B4226;
    z-index: 5; 
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto; /* Scrollbar if overflow of content */
}

#updateIMG {
    width: 200px;
    height: 300px;
    vertical-align: middle;
    grid-column: 2;
    margin-top: 25px;
    border: 4px solid #6B4226;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

#updateScreen .imageContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    #updateScreen .imageContainer {
        grid-template-columns: 1fr;
    }  
}

/* Using  https://www.scale.at/blog/responsive-form-layout-css-grid for css grid inspo */
.updateForm {
    display: grid;
    gap: 8px;
    line-height: 1.3;
    margin-top: 25px;
}

.updateForm input[type="text"] {
    border: 4px solid #6B4226;
    background-color: #f2e5d7;
    border-radius: 5px;
    font-size: 15px;
}

.updateForm label, .updateForm legend {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: bold;
} 


@media screen and (min-width: 800px) {
    .updateForm {
        grid-template-columns: 1fr 2fr;
        gap: 24px;
    }    
}

#updateScreen .tagsContainer {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    border: 4px solid #6B4226;
    background-color: #f2e5d7;
    border-radius: 5px;
}

input[type="checkbox"] {
    appearance: none;
    width: 15px; 
    height: 15px;
    background-color: white;
    border: 2px solid #6B4226;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color:#6B4226 ;
    box-shadow: inset 2px 2px 2px #6B4226;
}

#subtags {
    appearance: none;
    background-color: white;
    border: 3px solid #6B4226;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-align-last: center;
}

.updateForm fieldset {
    grid-column: 1 / -1;
}

#uploadButton {
    grid-column: 3;
    justify-self: end;
    align-self: center; 
    width: 80%;
}

#updateScreen .buttonContainer, .uploadContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    grid-column: 1/-1;
}

#updateScreen .buttonContainer input[type="submit"] {
    width: 100%; 
    border: 2px solid #6b506f;
    background-color: #7e6188;
    box-shadow: 0px 4px 10px black;
    font-size: 15px;
    border-radius: 5px;
    border: 4px solid #6b506f;
    background-color: #7e6188;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
}

#updateScreen .buttonContainer input[type="submit"]:hover {
    background-color: #6b506f; 
    box-shadow: inset 2px 2px 2px #6b506f;
    font-weight: bold;
    color: #f2e5d7;
    font-size: 18px;
}

.updateForm, .tagsContainer, .buttonContainer {
    font-family: 'Open Sans', sans-serif;
}

/* Main Screen */
#main-screen header {
    justify-content: space-between; /* Aligns children to the edges */
    align-items: center; /* Vertical centering */
    padding: 10px;
    width: 100%;
    border-bottom: 4px solid #6B4226;
    background-color: #71BD9A;
}

#welcome-title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* three columns layout */
    width: 100%;
}

#logo-main {
    grid-column: 2; /* Ensures the logo is placed in the second column */
    width: 120px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    justify-self: center; /* Center the logo in its grid cell */
}

.right-side-header {
    grid-column: 3; /* Ensures these elements are placed in the third column */
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns the text and button to the right */
    justify-self: end; /* Forces the container to the end of the grid column */
    margin-right: 20px;
    margin-top: 40px;
}   

#main-screen h1 {
    margin-left: 20px;
    color: black;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

#welcome-title input[type="submit"]{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: red;
    border: 2px solid darkred;
    box-shadow: 0px 2px 2px black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    cursor: pointer;
    font-size: 15px;
    text-align: center; 
    display: inline-block; 
    line-height: 20px; 
    text-decoration: none;
}

#welcome-title input[type="submit"]:hover {
    background-color: darkred;
    box-shadow: inset 2px 2px 2px darkred;
    font-weight: bold;
    color: #f2e5d7;
    font-size: 16px;
}

#main-screen footer {
    margin-top: 5px; /* Abstand oben hinzufügen */
    position: absolute; /* Absolute Positionierung für den Footer */
    bottom: 0px; /* Abstand vom unteren Rand */
    left: 0;
    right: 0; /* Footer zentriert */
    text-align: center; /* Text zentrieren */
    font-family: 'Open Sans', sans-serif; /* Schriftart für den Footer */
    font-size: 14px; /* Schriftgröße für den Footer */
    color: #333; /* Schriftfarbe für den Footer */
    border-top: 4px solid #6B4226;
}
.main-container {
    padding: 0 10px;
    width: calc(100vw - 29px);
    box-sizing: border-box; 
    margin-bottom: 150px ;
    transition: filter 0.3s ease;
}

.main-container.blurred {
    filter: blur(5px); /* Strong blur effect */
    pointer-events: none; /* Prevent interaction with blurred content */
}

.upper-main-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#location-list {
    width: 100%; /* Erhöhte Breite */
    height: 480px;
    background-color: #71BD9A; /* Hintergrundfarbe für die Liste */
    padding: 10px; /* Erhöhtes Padding für mehr Innenabstand */
    border-radius: 10px; /* Runde Ecken */
    box-shadow: 0px 3px 3px #6B4226; /* Schatteneffekt */
    border: 4px solid #6B4226;
    overflow: auto; 
}

#location-list h2 {
    margin-top: 10px;
    margin-left: 10px;
    color: black;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}
#location-list input[type="submit"] {
    width: 80px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid darkred;
    background-color: red;
    box-shadow: 0px 2px 2px black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    text-decoration: none; 
}

#location-list input[type="submit"]:hover {
    background-color: darkred;
    box-shadow: inset 2px 2px 2px darkred;
    font-weight: bold;
    color: #f2e5d7;
    font-size: 16px;
}

#location-list ul {
    list-style-type: none; /* Remove default list style */
    padding: 0; /* Remove padding */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0;
}

#location-list button {
    width: 100%;
    height: 300px;
    background-color: #7e6188; /* Button background color */
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 4px solid #6B4226; /* Button border color */
    color: white; /* Button text color */
    box-shadow: 2px 2px 2px #6B4226; /* Button shadow */
    font-family: 'Open Sans', sans-serif; /* Font for buttons */
    font-size: 18px; /* Font size for buttons */
    cursor: pointer; /* Pointer cursor on hover */
    text-transform: uppercase; /* Uppercase text */
    text-align: left;
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}

#location-list button strong {
    display: inline-block;
    width: 100px;
    color: black;
}
#location-list .add-button {
    width: 91%;
    height: 272px;
    background-color: #7e6188; /* Button background color */
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 4px solid #6B4226; /* Button border color */
    color: white; /* Button text color */
    box-shadow: 2px 2px 2px #6B4226; /* Button shadow */
    font-family: 'Open Sans', sans-serif; /* Font for buttons */
    font-size: 18px; /* Font size for buttons */
    text-align: center; /* Center text */
    cursor: pointer; /* Pointer cursor on hover */
    text-transform: uppercase; /* Uppercase text */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
    display: block; 
    text-decoration: none; 
    line-height: 265px;
}

#location-list button:hover {
    background-color: #6b506f; /* Darker on hover */
    box-shadow: inset 2px 2px 2px #6b506f; /* Inner shadow on hover */
    color: #f2e5d7; /* Change text color on hover */
}

#location-list .add-button:hover {
    background-color: #6b506f; /* Darker on hover */
    box-shadow: inset 2px 2px 2px #6b506f; /* Inner shadow on hover */
    color: #f2e5d7; /* Change text color on hover */
}

@media (max-width: 1200px) {
    #location-list ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    #location-list ul {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 400px) {
    #location-list ul {
        grid-template-columns: repeat(1, 1fr); 
    }
}

footer {
    background-color: #71BD9A; /* Footer Hintergrundfarbe */
    color: white; /* Schriftfarbe */
    display: flex; /* Flexbox aktivieren */
    justify-content: center; /* Buttons in der Mitte ausrichten */
    padding: 18px; /* Padding für den Footer */
    font-size: 18px; /* Schriftgröße im Footer */
    margin-top: auto; /* Footer nach unten schieben */
}

footer a {
    color: #6B4226; /* Footer link color */
    text-decoration: none; /* No underline */
}

footer a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Add-Screen */
#add-screen {
    display: none;
    position: fixed;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Grauer, semi-transparenter Hintergrund */
}

#add-screen:target {
    display: flex;
}

#addScreen {
    position: relative;
    border: 4px solid #6B4226;
    padding: 20px;
    width: 80vw; /* Form width */
    height: 80vw;
    max-width: 600px;
    max-height: 700px;
    background-color: #71BD9A; /* Background of the form */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 10px #6B4226;
    z-index: 5;
    display: flex;
    flex-direction: column;
    overflow: auto; /* Scrollbars for overflowing content like images */
    font-family: 'Open Sans', sans-serif; /* Setting font style same as Update screen */
    align-items: center;
}

#previewIMG {
    width: 200px;
    height: 300px;
    vertical-align: middle;
    grid-column: 2;
    margin-top: 25px;
    border: 4px solid #6B4226;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    background-color: white;
}

#addScreen .imageContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    #addScreen .imageContainer {
        grid-template-columns: 1fr;
    }  
}

.addForm {
    display: grid;
    gap: 8px;
    line-height: 1.3;
    margin-top: 25px;
}

.addForm input[type="text"] {
    border: 4px solid #6B4226;
    background-color: #f2e5d7;
    border-radius: 5px;
    font-size: 15px;
}

.addForm label, .addForm legend {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: bold;
} 

@media screen and (min-width: 800px) {
    .addForm {
        grid-template-columns: 1fr 2fr;
        gap: 24px;
    }   
}

#addScreen .tagsContainer {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    border: 4px solid #6B4226;
    background-color: #f2e5d7;
    border-radius: 5px;
}

.addForm fieldset {
    grid-column: 1 / -1;
}

.uploadContainer {
    margin-top: 10px;
}

#addScreen .buttonContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-column: 1/-1;
}

#addScreen .buttonContainer input[type="submit"],
#addScreen .buttonContainer input[type="button"] {
    width: 100%;
    border: 2px solid #6b506f;
    background-color: #7e6188;
    box-shadow: 0px 4px 10px black;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
}

#addScreen .buttonContainer input[type="submit"]:hover,
#addScreen .buttonContainer input[type="button"]:hover {
    background-color: #6b506f;
    box-shadow: inset 2px 2px 2px #6b506f;
    font-weight: bold;
    color: #f2e5d7;
    font-size: 18px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none; 
    line-height: 17px;
    box-shadow: 0px 1px 4px black;
    border: 2px solid darkred;
}

.close-button:hover {
    background-color: darkred;
    box-shadow: inset 0px 1px 4px darkred;
}


